.login-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.error-message {
    color: red;
    margin-bottom: 10px;
}

.login-button {
    width: 100%;
    background-color: rgb(84, 212, 137); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 20px 4px 12px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.login-button:hover {
    background-color: rgb(59, 220, 223);
}
